In [1]:
import pandas as pd
import numpy as np

from nltk.tokenize import sent_tokenize, word_tokenize

In [2]:
df = pd.read_excel("notes_sample.xlsx")

In [3]:
del df['customerid']

In [4]:
df = df.groupby(['noteid']).sum()

In [5]:
df['noteid'] = df.index

In [6]:
df = df.set_index('noteid')

In [7]:
df = df.dropna()

In [8]:
df.to_csv("dropped na- notes.csv")

In [53]:
# Get names of indexes for which column Age has value 30
indexNames = df[df['text'] == 0 ].index
indexNames

Int64Index([1169395, 1169396, 1169397, 1169471, 1169491, 1169552, 1169564,
            1169569, 1169598, 1169599, 1169621, 1169737, 1169740, 1169814,
            1169828, 1169877, 1169889, 1169911, 1169914, 1169921, 1169922,
            1170008, 1170011, 1170019, 1170055, 1170081, 1170084, 1170116,
            1170121, 1170146, 1170149, 1170152, 1170165, 1170185, 1170188,
            1170204, 1170212, 1170236, 1170240, 1170242, 1170323, 1170355,
            1170530, 1170544, 1170613, 1170618, 1170639, 1170660, 1170678,
            1170723, 1170731, 1170745],
           dtype='int64', name='noteid')

In [10]:
df_subspace = df.head(20)

In [11]:
df_subspace

                                                      text
noteid
1003416  Rec'd a payoff request from Bank Forward for t...
1011474  Don has been a member for over 20 years!!! WOW...
1012749  Called Mike regarding the L72-he stated that h...
1013546  14 May 2005 at 12:12 pm by 190. Members came i...
1121486  Betty moved to FL about 5 yr's ago she was tir...
1169244  07 Mar 2007 at 3:53 pm by Savannah Yang.Joint ...
1169246  Xiong, new name is Ntxoov Xiong. Pa @ Lafayett...
1169247  petition for name change and his certificate o...
1169248   forward the documents to Records. Savannah x9746
1169249  01 Mar 2007 at 10:58 am by Pa Thao.Mbr came in...
1169251  27 Feb 2007 at 10:25 am by Devonna Scheuffele....
1169253  26 Feb 2007 at 5:16 pm by Amy Crosby.Will not ...
1169255  16 May 2006 at 4:03 pm by 555. mbr came in and...
1169256  24 Apr 2006 at 3:15 pm by 200. Mbr left $100 f...
1169257  12 Apr 2006 at 3:30 pm by 734. exp the 48 hour...
1169258  22 Nov 2005 at 3:20 pm by 272. Mbr thought the...
1169259  27 Aug 2008 at 2:52 pm by Amy Crosby.Kerwin ha...
1169261  12 Jun 2008 at 11:57 am by Amy Crosby.Talked w...
1169263  11 Apr 2007 at 9:28 am by Linda Wessel.mbr cal...
1169265  01 May 2006 at 8:48 am by 736. Mbr called as p...

In [48]:
for i, text in enumerate(df_subspace.text.values):
    if word_tokenize(text)[0].isnumeric():
        df_subspace.text.values[i] = ".".join(text.split('.')[1:])

In [50]:
df_subspace

                                                      text
noteid
1003416  Rec'd a payoff request from Bank Forward for t...
1011474  Don has been a member for over 20 years!!! WOW...
1012749  Called Mike regarding the L72-he stated that h...
1013546   Members came in again today and we continued ...
1121486  Betty moved to FL about 5 yr's ago she was tir...
1169244  Joint member became citizen and had name chang...
1169246  Xiong, new name is Ntxoov Xiong. Pa @ Lafayett...
1169247  petition for name change and his certificate o...
1169248   forward the documents to Records. Savannah x9746
1169249  Mbr came in to cash their government check. he...
1169251  member came in to try and cash her tax reund c...
1169253  Will not accept any checks made out to Cha Xio...
1169255   mbr came in and was wondering why her balance...
1169256   Mbr left $100 from her check at my window. De...
1169257   exp the 48 hour hold on atm deposits Michelle...
1169258   Mbr thought there was only a 24hr. hold on an...
1169259  Kerwin had given his daugther some money back ...
1169261  Talked w/Kerwin...planted the seed on what we ...
1169263  mbr called to close out his money market and t...
1169265   Mbr called as payroll went into S8 instead of...

In [55]:
df_2 = pd.read_csv('dataset-postprocessing.csv')

In [63]:
type(df_2.text.values[0])

str

In [64]:
for i, text in enumerate(df_2.text.values):
    if word_tokenize(text)[0].isnumeric():
        df_2.text.values[i] = ".".join(text.split('.')[1:])

In [66]:
del df_2['noteid']

In [68]:
df_2.to_csv("Final dataset.csv")